@model ReminderDTO

<h4 class="mb-5">Create Reminder</h4>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="fw-bold">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DateTimeForExecution"></label>
                <input asp-for="DateTimeForExecution" class="form-control" type="datetime-local" />
                <span asp-validation-for="DateTimeForExecution" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary px-4 p-2 fw-bold">Save</button>
    </div>
</form>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="text-end">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
